boot/vmlinu?-{{abiname}}{{localversion}}
lib/modules/{{abiname}}{{localversion}}/modules.builtin  lib/modules/{{abiname}}{{localversion}}
lib/modules/{{abiname}}{{localversion}}/modules.order    lib/modules/{{abiname}}{{localversion}}
